[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "projects/tiny-imagenet"]
	path = projects/tiny-imagenet
	url = https://github.com/leemengtaiwan/tiny-imagenet.git
[submodule "projects/gapminder-tw"]
	path = projects/gapminder-tw
	url = https://github.com/leemengtaiwan/gapminder-tw.git
