RewriteCond %{HTTP_HOST} ^www\.leemengtaiwan\.github\.io$
RewriteRule ^/?$ "http\:\/\/leemengtaiwan\.github\.io\/" [R=301,L]

RewriteCond %{QUERY_STRING} "fbclid=" [NC]
RewriteRule (.*) /$1? [R=301,L]