<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="zh-hant-tw"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="zh-hant-tw"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="zh-hant-tw">
<!--<![endif]-->

<head>
  
    <!--- basic page needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Pelican 實戰手冊(主題篇)</title>    <meta name="description" content="Python, Data Science, Visualization, Software Engineering, 資料科學" />
    <meta name="keywords" content="Python, Data Science, Visualization, Software Engineering, 資料科學" />
    <meta name="author" content="Lee Meng" />

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="https://leemengtaiwan.github.io/theme/css/base.css">
    <link rel="stylesheet" type="text/css" href="https://leemengtaiwan.github.io/theme/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="https://leemengtaiwan.github.io/theme/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://leemengtaiwan.github.io/theme/css/ipython.css">
    <link rel="stylesheet" type="text/css" href='https://leemengtaiwan.github.io/theme/css/progress-bar.css' />

    <!-- script
    ================================================== -->
    <script src="https://leemengtaiwan.github.io/theme/js/modernizr.js"></script>
    <script src="https://leemengtaiwan.github.io/theme/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="theme/images/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="theme/images/favicon.ico" type="image/x-icon"/>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106559980-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-106559980-1');
</script>




<title>Pelican 實戰手冊(主題篇)</title>  <meta name="description" content="" />
    <meta name="tags" content="python" />
    <meta name="tags" content="pelican" />
    <meta name="tags" content="jinja2" />

  <!--Open Graph Object Settings-->
    <meta property="og:image" content="https://leemengtaiwan.github.io/theme/images/background/ilya-pavlov-87472-unsplash.jpg" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://leemengtaiwan.github.io/build-a-pelican-powered-blog-like-a-pro.html" />
  <meta property="og:title" content="Pelican 實戰手冊(主題篇)" />
  <meta property="og:description" content="" />

</head>


<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="../index.html"><img src="https://leemengtaiwan.github.io/theme/images/logo.png" alt="Homepage"></a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li><a href="../index.html#home" title="home">Home</a></li>
                <li><a href="../index.html#about" title="about">About</a></li>
                <!--<li><a href="../index.html#works" title="works">Works</a></li>-->
                <li class="current"><a href="blog.html" title="blog">Blog</a></li>
                <!--<li><a href="../index.html#contact" title="contact">Contact</a></li>-->
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->



    <article class="blog-single">

        <!-- page header/blog hero, use custom cover image if available
        ================================================== -->
            <div class="page-header page-header--single page-hero" style="background-image:url(https://leemengtaiwan.github.io/theme/images/background/ilya-pavlov-87472-unsplash.jpg)">

            <div class="row page-header__content narrow">
                <article class="col-full">
                    <div class="page-header__info">
                        <div class="page-header__cat">
                            <a href="https://leemengtaiwan.github.io/tag/python.html" rel="tag">python</a>
                            <a href="https://leemengtaiwan.github.io/tag/pelican.html" rel="tag">pelican</a>
                            <a href="https://leemengtaiwan.github.io/tag/jinja2.html" rel="tag">jinja2</a>
                        </div>
                    </div>
                    <h1 class="page-header__title">
                        <a href="https://leemengtaiwan.github.io/build-a-pelican-powered-blog-like-a-pro.html" title="">
                            Pelican 實戰手冊(主題篇)
                        </a>
                    </h1>
                    <ul class="page-header__meta">
                        <li class="date">2018-03-05 (月)</li>
                        <li class="author">
                            By
                            <span>Lee Meng</span>
                        </li>
                        <li><a href="https://unsplash.com/photos/wbXdGS_D17U?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" style="color:rgba(255, 255, 255, 0.5)">PhotoCredit</a></li>
                    </ul>

                </article>
            </div>

        </div> <!-- end page-header -->

        <div class="KW_progressContainer">
            <div class="KW_progressBar"></div>
        </div>


        <div class="row blog-content">
            <div class="col-full blog-content__main">

                
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>有些人可能已經注意到這個 blog 是用 <a href="https://github.com/getpelican/pelican">Pelican</a> 所寫成並且 host 在 <a href="https://github.com/leemengtaiwan/leemengtaiwan.github.io">Github</a> 上。這篇主要紀錄如何使用 <a href="http://jinja.pocoo.org/docs/2.10/">Jinja2</a> 自訂主題。</p>
<p>Pelican 是一個用 Python 寫的靜態網頁生成器, 可以幫我們把 reStructedText, Markdown file 甚至 <a href="http://jupyter.org/">Jupyer notebook</a> 轉成靜態的 HTML 檔案。 靜態網頁的好處就是我們不需要一個 web server 或者是資料庫來管理內容, 可以把 HTML 檔案 host 在想要的地方，比方說 <a href="https://pages.github.com/">Github Pages</a>。用 Pelican 官網一句來介紹的話就是：</p>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">

<div class="inner_cell">
<div class="input_area">
<div class=" highlight hl-ipython3"><blockquote><p>Pelican is a static site generator, written in Python, that requires no database or server-side logic. - Pelican Blog</p></blockquote></div>
</div>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Google 一下你會發現除了 Pelican 以外還有很多其他像是 Jekyll, Hexo 等<a href="https://www.staticgen.com/">靜態網頁生成器</a>。 之所以會選擇 Pelican 是因為以下幾點：</p>
<ul>
<li>Pelican 是用 Python 寫的，讓 Python 開發者（我）很容易客製化</li>
<li>可以把 <a href="https://github.com/danielfrg/pelican-ipynb">jupyter notebook 轉成 HTML</a>，這對每天寫一堆 notebooks 的資料科學家很友善</li>
<li>主題是用強大的 <a href="http://jinja.pocoo.org/docs/2.10/">Jinja2</a> 模組引擎建立，可以用前人寫好的<a href="http://www.pelicanthemes.com/">主題</a>或是自己寫 templates，自由度很高，也是本篇重點。  </li>
</ul>
<p>如果你的需求類似而且想要自己架一個部落格，可以現在就跳入 <a href="https://github.com/getpelican/pelican/blob/master/docs/quickstart.rst">Pelican Quickstart</a>，有問題再回來看這篇。</p>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<center><img src="images/jinja2.jpeg" /></center>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Jinja2 是 Python 知名的模組引擎 (templating engine)，可以有系統地產生 HTML，很常出現在 <a href="http://flask.pocoo.org/">Flask</a> 或是 <a href="https://www.djangoproject.com/">Django</a> Apps 裡頭。以下介紹在建立 Pelican blog 時常用到的功能。</p>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="再利用-HTML-區塊">再利用 HTML 區塊<a class="anchor-link" href="#再利用-HTML-區塊">¶</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>比方說我們可以建立一個汎用的 template base.html 來定義整個部落格共用的資訊，像是 header 裡頭要 import 的 css / favicon 等等：</p>
<div class="highlight"><pre><span></span><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span> <span class="na">lang</span><span class="o">=</span><span class="s">"en"</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
{% block head %}
    <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">"stylesheet"</span> <span class="na">type</span><span class="o">=</span><span class="s">"text/css"</span> <span class="na">href</span><span class="o">=</span><span class="s">"css/vendor.css"</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">"icon"</span> <span class="na">href</span><span class="o">=</span><span class="s">"images/favicon.ico"</span> <span class="na">type</span><span class="o">=</span><span class="s">"image/x-icon"</span><span class="p">/&gt;</span>
{% endblock head %}
<span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
    {% block content %}
        <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>部落格內容<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    {% endblock content %}
<span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
</pre></div>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>注意到上面的 <code>{% block head %}</code> jinja2 語法。會在多個 HTML 檔案重複使用的部分我們可以用 <code>{% block BLOCKNAME %}</code> 以及 <code>{% endblock BLOCKNAME %}</code> 包起來，然後在獨立顯示一篇文章的 article.html 裡頭我們可以定義：</p>
<div class="highlight"><pre><span></span><span class="p">{</span><span class="o">%</span> <span class="n">extends</span> <span class="s2">"base.html"</span> <span class="o">%</span><span class="p">}</span>
<span class="p">{</span><span class="o">%</span> <span class="n">block</span> <span class="n">head</span> <span class="o">%</span><span class="p">}</span>
  <span class="p">{{</span> <span class="nb">super</span><span class="p">()</span> <span class="p">}}</span>
  <span class="o">&lt;</span><span class="n">title</span><span class="o">&gt;</span><span class="err">文章標題</span><span class="o">&lt;/</span><span class="n">title</span><span class="o">&gt;</span>
<span class="p">{</span><span class="o">%</span> <span class="n">endblock</span> <span class="n">head</span> <span class="o">%</span><span class="p">}</span>
<span class="o">&lt;</span><span class="n">body</span><span class="o">&gt;</span>
    <span class="p">{</span><span class="o">%</span> <span class="n">block</span> <span class="n">content</span> <span class="o">%</span><span class="p">}</span>
        <span class="o">&lt;</span><span class="n">p</span><span class="o">&gt;</span><span class="err">文章內容</span><span class="o">&lt;/</span><span class="n">p</span><span class="o">&gt;</span>
    <span class="p">{</span><span class="o">%</span> <span class="n">endblock</span> <span class="n">content</span> <span class="o">%</span><span class="p">}</span>
<span class="o">&lt;/</span><span class="n">body</span><span class="o">&gt;</span>
</pre></div>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>上面的 code 基本上是告訴 jinja2 article.html 要繼承 base.html 的所有內容，而在 <code>head</code> block 除了用<code>{{ super() }}</code> 繼承 base.html 的內容以外，在下面再追加新的內容。而 <code>content</code> block 則是完全取代。</p>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>因此最後 article.html 會被渲染成：</p>
<div class="highlight"><pre><span></span><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span> <span class="na">lang</span><span class="o">=</span><span class="s">"en"</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">"stylesheet"</span> <span class="na">type</span><span class="o">=</span><span class="s">"text/css"</span> <span class="na">href</span><span class="o">=</span><span class="s">"css/vendor.css"</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">"icon"</span> <span class="na">href</span><span class="o">=</span><span class="s">"images/favicon.ico"</span> <span class="na">type</span><span class="o">=</span><span class="s">"image/x-icon"</span><span class="p">/&gt;</span>
    <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>文章標題<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>文章內容<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
</pre></div>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="為當前文章取得前/後一篇文章連結">為當前文章取得前/後一篇文章連結<a class="anchor-link" href="#為當前文章取得前/後一篇文章連結">¶</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<center><img src="images/pagination_prev_and_next.png" style="width:70%" /></center>
<center><font color="purple"> Pagination 範例: 顯示前後文章連結 <br /></font></center>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>依照主題不同，有些主題可能文章頁面裡頭並沒有提供前一篇/後一篇文章的連結。要像上圖為每一篇文章取得前後文章的連結，可以在 article.html 裡存取 <a href="https://github.com/getpelican/pelican/blob/master/docs/themes.rst#common-variables">articles Variable</a> 並使用 jinja2 <a href="http://jinja.pocoo.org/docs/2.10/templates/#assignments">namespace</a> 來取得前後文章(<code>namespace</code> 要在 jinja 2.10+ 以後才能使用)</p>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<div class="highlight"><pre><span></span><span class="p">{</span><span class="c1"># get prev- and next-article for pagination #}</span>
<span class="p">{</span><span class="o">%</span> <span class="nb">set</span> <span class="n">ns</span> <span class="o">=</span> <span class="n">namespace</span><span class="p">(</span><span class="n">found</span><span class="o">=</span><span class="n">false</span><span class="p">,</span> <span class="n">prev</span><span class="o">=</span><span class="bp">None</span><span class="p">,</span> <span class="nb">next</span><span class="o">=</span><span class="bp">None</span><span class="p">)</span> <span class="o">%</span><span class="p">}</span>
<span class="p">{</span><span class="o">%</span> <span class="k">for</span> <span class="n">a</span> <span class="ow">in</span> <span class="n">articles</span> <span class="o">%</span><span class="p">}</span>
    <span class="p">{</span><span class="c1"># 要使用 break 要安裝 extension, 最佳化效率可省略 #}</span>
    <span class="p">{</span><span class="o">%-</span> <span class="k">if</span> <span class="n">ns</span><span class="o">.</span><span class="n">found</span> <span class="o">%</span><span class="p">}{</span><span class="o">%</span> <span class="k">break</span> <span class="o">%</span><span class="p">}{</span><span class="o">%</span> <span class="n">endif</span> <span class="o">%</span><span class="p">}</span>

    <span class="p">{</span><span class="c1"># 假設文章標題不會重複, unique #}</span>
    <span class="p">{</span><span class="o">%</span> <span class="k">if</span> <span class="n">a</span><span class="o">.</span><span class="n">title</span> <span class="o">==</span> <span class="n">article</span><span class="o">.</span><span class="n">title</span> <span class="o">%</span><span class="p">}</span>
        <span class="p">{</span><span class="o">%</span> <span class="nb">set</span> <span class="n">ns</span><span class="o">.</span><span class="n">found</span> <span class="o">=</span> <span class="n">true</span> <span class="o">%</span><span class="p">}</span>
        <span class="p">{</span><span class="o">%</span> <span class="nb">set</span> <span class="n">ns</span><span class="o">.</span><span class="n">prev</span> <span class="o">=</span> <span class="n">loop</span><span class="o">.</span><span class="n">previtem</span> <span class="o">%</span><span class="p">}</span>
        <span class="p">{</span><span class="o">%</span> <span class="nb">set</span> <span class="n">ns</span><span class="o">.</span><span class="n">next</span> <span class="o">=</span> <span class="n">loop</span><span class="o">.</span><span class="n">nextitem</span> <span class="o">%</span><span class="p">}</span>
    <span class="p">{</span><span class="o">%</span> <span class="n">endif</span> <span class="o">%</span><span class="p">}</span>

<span class="p">{</span><span class="o">%</span> <span class="n">endfor</span> <span class="o">%</span><span class="p">}</span>
</pre></div>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>上面的 code 會 iterate 所有文章，當遇到當前文章的時候利用 <code>loop.previtem</code> 以及 <code>loop.nextitem</code> 把前後文章記下來。 <a href="https://stackoverflow.com/questions/9486393/jinja2-change-the-value-of-a-variable-inside-a-loop">jinja2 預設是無法在 loop 裡頭改變變數的值</a>，但使用 <code>namespace</code> 即可。</p>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>接著就能利用剛剛取得的前後 article 物件來渲染前後連結：</p>
<div class="highlight"><pre><span></span>{# 方便起見的 assignment %}
{% set prev_article = ns.prev %}
{% set next_article = ns.next %}

{% if prev_article %}
<span class="p">&lt;</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">"prev_article.url"</span> <span class="na">rel</span><span class="o">=</span><span class="s">"prev"</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">span</span><span class="p">&gt;</span>Previous Post<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
        {{ prev_article.title }}
    <span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
{% endif %}
{% if next_article %}
<span class="p">&lt;</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">"next_article.url"</span> <span class="na">rel</span><span class="o">=</span><span class="s">"next"</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">span</span><span class="p">&gt;</span>Next Post<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
        {{ next_article.title }}
    <span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
{% endif %}
</pre></div>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="傳參數給子-template">傳參數給子 template<a class="anchor-link" href="#傳參數給子-template">¶</a></h2><p>有時候多個 templates 會使用類似的 HTML，像是當首頁 index.html 以及部落格 blog.html 都用相同格式渲染最新幾篇文章時，我們可以定義一個 article_entries.html 如下：</p>
<div class="highlight"><pre><span></span><span class="p">{</span><span class="c1"># 簡化版 #}</span>
<span class="p">{</span><span class="o">%</span> <span class="k">for</span> <span class="n">article</span> <span class="ow">in</span> <span class="n">articles</span> <span class="o">%</span><span class="p">}</span>
    <span class="o">&lt;</span><span class="n">article</span> <span class="n">class</span><span class="o">=</span><span class="s2">"col-block"</span><span class="o">&gt;</span>
        <span class="o">&lt;</span><span class="n">a</span> <span class="n">href</span><span class="o">=</span><span class="s2">"{{ SITEURL }}/{{ article.url }}"</span><span class="o">&gt;</span><span class="p">{{</span><span class="n">article</span><span class="o">.</span><span class="n">title</span><span class="p">}}</span><span class="o">&lt;/</span><span class="n">a</span><span class="o">&gt;</span>
        <span class="o">&lt;</span><span class="n">p</span><span class="o">&gt;</span><span class="p">{{</span> <span class="n">article</span><span class="o">.</span><span class="n">summary</span> <span class="p">}}</span><span class="o">&lt;/</span><span class="n">p</span><span class="o">&gt;</span>
    <span class="o">&lt;/</span><span class="n">article</span><span class="o">&gt;</span>
<span class="p">{</span><span class="o">%</span> <span class="n">endfor</span> <span class="o">%</span><span class="p">}</span>
</pre></div>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>注意這時候如果直接在 index.html 使用</p>
<div class="highlight"><pre><span></span><span class="p">{</span><span class="o">%</span> <span class="n">include</span> <span class="s1">'article_entries.html'</span> <span class="o">%</span><span class="p">}</span>
</pre></div>
<p>是會出現<a href="https://stackoverflow.com/questions/9404990/how-to-pass-selected-named-arguments-to-jinja2s-include-context">錯誤</a>的。理由是被 include 的 article_entries.html 看不到定義在 index.html 的 <code>articles</code> 變數。</p>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>解決方法是在 index.html 裡透過 <code>{% with %}</code> 語法定義一個 scope：</p>
<div class="highlight"><pre><span></span><span class="p">{</span><span class="c1"># 選擇前五篇文章來渲染 #}</span>
<span class="p">{</span><span class="o">%</span> <span class="nb">set</span> <span class="n">articles_to_show</span> <span class="o">=</span> <span class="n">articles_page</span><span class="o">.</span><span class="n">object_list</span><span class="p">[</span><span class="mi">5</span><span class="p">]</span> <span class="o">%</span><span class="p">}</span>

<span class="p">{</span><span class="c1"># 定義 scope #}</span>
<span class="p">{</span><span class="o">%</span> <span class="k">with</span> <span class="n">articles</span><span class="o">=</span><span class="n">articles_to_show</span> <span class="o">%</span><span class="p">}</span>
    <span class="p">{</span><span class="o">%</span> <span class="n">include</span> <span class="s1">'article_entries.html'</span> <span class="o">%</span><span class="p">}</span>
<span class="p">{</span><span class="o">%</span> <span class="n">endwith</span> <span class="o">%</span><span class="p">}</span>
</pre></div>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>使用 <code>with</code> 的好處是可以把子 template article_entries.html 當作 function 來使用，我們可以依照母 template 的需要，傳進想要渲染的文章即可。</p>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Reference">Reference<a class="anchor-link" href="#Reference">¶</a></h2><ul>
<li><a href="http://jinja.pocoo.org/docs/2.9/templates/#extensions">Jinja2 Extension</a></li>
</ul>
</div>
</div>
</div>

<script type="text/javascript">if (!document.getElementById('mathjaxscript_pelican_#%@#$@#')) {
    var mathjaxscript = document.createElement('script');
    mathjaxscript.id = 'mathjaxscript_pelican_#%@#$@#';
    mathjaxscript.type = 'text/javascript';
    mathjaxscript.src = '//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML';
    mathjaxscript[(window.opera ? "innerHTML" : "text")] =
        "MathJax.Hub.Config({" +
        "    config: ['MMLorHTML.js']," +
        "    TeX: { extensions: ['AMSmath.js','AMSsymbols.js','noErrors.js','noUndefined.js'], equationNumbers: { autoNumber: 'AMS' } }," +
        "    jax: ['input/TeX','input/MathML','output/HTML-CSS']," +
        "    extensions: ['tex2jax.js','mml2jax.js','MathMenu.js','MathZoom.js']," +
        "    displayAlign: 'center'," +
        "    displayIndent: '0em'," +
        "    showMathMenu: true," +
        "    tex2jax: { " +
        "        inlineMath: [ ['$','$'] ], " +
        "        displayMath: [ ['$$','$$'] ]," +
        "        processEscapes: true," +
        "        preview: 'TeX'," +
        "    }, " +
        "    'HTML-CSS': { " +
        "        styles: { '.MathJax_Display, .MathJax .mo, .MathJax .mi, .MathJax .mn': {color: 'black ! important'} }" +
        "    } " +
        "}); ";
    (document.body || document.getElementsByTagName('head')[0]).appendChild(mathjaxscript);
}
</script>


                <!--Tags-->
                <p class="blog-content__tags">
                    <span>Post Tags</span>

                    <span class="blog-content__tag-list">
                        <a href="https://leemengtaiwan.github.io/tag/python.html" rel="tag">python</a>
                        <a href="https://leemengtaiwan.github.io/tag/pelican.html" rel="tag">pelican</a>
                        <a href="https://leemengtaiwan.github.io/tag/jinja2.html" rel="tag">jinja2</a>
                    </span>

                </p>












                <!--Pagination-->
                <div class="blog-content__pagenav">
                    <div class="blog-content__nav">
                        <div class="blog-content__prev">
                            <a href="https://leemengtaiwan.github.io/google-data-studio-basics.html" rel="prev">
                                <span>Previous Post</span>
                                Google Data Studio 基礎
                            </a>
                        </div>
                        <div class="blog-content__next">
                            <a href="https://leemengtaiwan.github.io/beautifulsoup-cheat-sheet.html" rel="next">
                                <span>Next Post</span>
                                BeautifulSoup 筆記
                            </a>
                        </div>
                    </div>

                    <div class="blog-content__all">
                        <a href="blog.html" class="btn btn--primary">
                            View All Post
                        </a>
                    </div>
                </div>

            </div><!-- end blog-content__main -->
        </div> <!-- end blog-content -->

    </article>

<div class="comments-wrap">
    <div id="comments" class="row">
        <div class="col-full">
            <div id="disqus_thread"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
var disqus_shortname = 'leemengtaiwan';
var disqus_title = 'Pelican 實戰手冊(主題篇)';

(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full">

                <div class="footer-logo">
                    <a class="footer-site-logo" href="#0"><img src="https://leemengtaiwan.github.io/theme/images/logo.png" alt="Homepage"></a>
                </div>

                <ul class="footer-social">
<li><a href="https://github.com/leemengtaiwan" target="_blank">
    <i class="im im-github" aria-hidden="true"></i>
    <span>Github</span>
</a></li>
<li><a href="https://www.facebook.com/LeeMengTaiwan" target="_blank">
    <i class="im im-facebook" aria-hidden="true"></i>
    <span>Facebook</span>
</a></li>
<li><a href="https://www.instagram.com/leemengtaiwan/" target="_blank">
    <i class="im im-instagram" aria-hidden="true"></i>
    <span>Instagram</span>
</a></li>
<li><a href="https://www.linkedin.com/in/leemeng1990/" target="_blank">
    <i class="im im-linkedin" aria-hidden="true"></i>
    <span>LinkedIn</span>
</a></li>                </ul>
            </div>
        </div>

        <div class="row footer-bottom">
            <div class="col-twelve">
                <div class="copyright">
                    <span>Powered by <a href="http://getpelican.com/" target="_blank">Pelican</a></span>
                    <span>© Copyright Hola 2017</span>
                    <span>Design by <a href="https://www.styleshout.com/" target="_blank">styleshout</a></span>
                </div>

                <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>
        </div> <!-- end footer-bottom -->
    </footer> <!-- end footer -->


    <div id="preloader">
        <div id="loader"></div>
    </div>

        <!-- Javascript
    ================================================== -->
    <script src="https://leemengtaiwan.github.io/theme/js/jquery-3.2.1.min.js"></script>
    <script src="https://leemengtaiwan.github.io/theme/js/plugins.js"></script>
    <script src="https://leemengtaiwan.github.io/theme/js/main.js"></script>

    <script type='text/javascript' src='https://leemengtaiwan.github.io/theme/js/progress-bar.js'></script>

</body>
</html>