Markdown==2.6.6
pelican==4.2.0
jupyter==1.0.0
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyterlab==1.2.4
jupyterlab-server==1.0.6
ipython==7.10.1
nbconvert==5.6.1
beautifulsoup4==4.8.1
ghp-import==0.4.1
oauth2client==1.5.2
google-api-python-client==1.7.11
parsedatetime==2.1
PyOpenSSL==19.1.0
cryptography==2.8
pyvis==0.1.8.2
Jinja2==2.10.3
mistune==0.8.4
MarkupSafe==1.1.1
pandas==1.1.2