[submodule "statistics"]
	path = statistics
    url = https://github.com/leemengtaiwan/ddf--gapminder--systema_globalis.git
[submodule "vizabi"]
	path = vizabi
    url = https://github.com/leemengtaiwan/vizabi.git
