
/*隱藏 anchor link, 只在 hover 的時候顯示*/
a.anchor-link:link {
  text-decoration: none;
  padding: 0px 20px;
  visibility: hidden;
}
h1:hover .anchor-link,
h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link,
h5:hover .anchor-link,
h6:hover .anchor-link {
  visibility: visible;
}

/*去除表格 border */
.table th {
  border: 0px;

}

th, td {
  border: 0px;
}

/*微調 boostrap table 格式*/
.table td, .table th {
  border-top: 0px
}

.table {
  font-size: 0.6rem;
  margin-bottom: 35px;
}

/*置中 output area 的 圖片*/
div.output_subarea img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*取消 bootstrap 的 hyperlink hover 效果, 只保留文章裡頭的 a*/
a:hover {
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}


/*取消 output area 的 code 背景顏色*/
div.output_subarea pre {
  background-color: white;
}

/*置中 markdown 裡頭 引進的圖片*/
p img {
  display: block;
  margin: auto;
}

