/* ===================================================================
 *  08. common and reusable styles
 *
 * ------------------------------------------------------------------- */

/* animation stuff - (_common-styles.scss)
 * ------------------------------------------------------------------- */
.js .animate-this {
	opacity: 0;
}
.oldie .animate-this
.no-cssanimations .animate-this {
	opacity: 1;
}

/* masonry entries - (_common-styles.scss)
 * ------------------------------------------------------------------- */
.bricks-wrapper .entry {
	margin-bottom: 40px;
}

.bricks-wrapper .entry-thumb,
.bricks-wrapper .entry-text {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.bricks-wrapper .entry-thumb {
	position: relative;
	overflow: hidden;
}

.bricks-wrapper .entry-thumb .thumb-link img {
	vertical-align: bottom;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.bricks-wrapper .entry-thumb .thumb-link::before {
	content: "";
	display: block;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 1;
}

.bricks-wrapper .entry-thumb .thumb-link::after {
	content: "...";
	font-family: georgia, serif;
	font-size: 4.5rem;
	z-index: 1;
	display: block;
	height: 90px;
	width: 90px;
	letter-spacing: -2.6px;
	line-height: 90px;
	margin-left: -45px;
	margin-top: -45px;
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0;
	visibility: hidden;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}

.bricks-wrapper .entry-thumb:hover .thumb-link::before {
	opacity: 1;
	visibility: visible;
}

.bricks-wrapper .entry-thumb:hover .thumb-link::after {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.bricks-wrapper .entry-thumb:hover .thumb-link img {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.bricks-wrapper .entry-text {
	padding: 1.8rem 2.8rem 3.6rem;
	background-color: white;
}

.bricks-wrapper .entry-header .entry-title {
	font-size: 2.5rem;
	line-height: 1.32;
	margin-bottom: 1.8rem;
}
.bricks-wrapper .entry-header .entry-title a,
.bricks-wrapper .entry-header .entry-title a:visited {
	color: #000000;
}

.bricks-wrapper .entry-header .entry-meta {
	font-family: "muli-regular", sans-serif;
	font-size: 1.5rem;
	margin-bottom: 1.2rem;
}
.bricks-wrapper .entry-header .entry-meta a,
.bricks-wrapper .entry-header .entry-meta a:visited {
	color: #000000;
}

.bricks-wrapper .entry-header .cat-links a::after {
	content: ", ";
}

.bricks-wrapper .entry-header .cat-links a:last-child::after {
	display: none;
}

.bricks-wrapper .entry-excerpt {
	font-size: 1.5rem;
	line-height: 2.7rem;
	color: #999999;
}

/* featured post slider - (_common-styles.scss)
 * ------------------------------------------------------------------- */
#featured-post-slider {
	position: relative;
}

.featured-grid,
.featured-post-slide {
	height: 600px;
}

.featured-post-slide {
	position: relative;
	background-color: #FFFFFF;
	width: 100%;
	padding: 6rem 15% 3rem 15%;
	text-align: center;
	display: table;
}

.featured-post-slide .post-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.featured-post-slide .overlay {
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.featured-post-slide:hover .overlay {
	background-color: rgba(0, 0, 0, 0.5);
}

.featured-post-slide .post-content {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	z-index: 500;
}

.featured-post-slide .entry-meta {
	font-family: "muli-regular", sans-serif;
	margin: -3rem 0 0.9rem 0;
	color: rgba(255, 255, 255, 0.6);
	line-height: 1.412;
}

.featured-post-slide .entry-meta li {
	display: inline-block;
	margin: 0 3px;
	padding: 0;
}

.featured-post-slide .entry-meta li a {
	color: rgba(255, 255, 255, 0.6);
}

.featured-post-slide .entry-meta li a:hover,
.featured-post-slide .entry-meta li a:focus {
	color: white;
	border-color: rgba(255, 255, 255, 0.2);
}

.featured-post-slide .slide-title {
	font-family: "montserrat-bold", sans-serif;
	font-size: 3.8rem;
	line-height: 1.421;
	margin-bottom: 3rem;
	color: #FFFFFF;
}

.featured-post-slide .slide-title a {
	color: #FFFFFF;
}

.featured-post-slide .slide-title a:hover,
.featured-post-slide .slide-title a:focus {
	color: white;
	border-color: rgba(255, 255, 255, 0.2);
}

/* featured-post-slider direction nav
 * --------------------------------------------------------- */
#featured-post-slider .flex-direction-nav li {
	position: absolute;
	top: 50%;
	padding: 0;
	margin-top: -30px;
	height: 60px;
	width: 60px;
	z-index: 500;
}

#featured-post-slider .flex-direction-nav li a {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	display: block;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 16px;
	background-color: black;
	opacity: .7;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#featured-post-slider .flex-direction-nav li a.flex-prev {
	background-image: url(../../images/arrow-left.png);
}

#featured-post-slider .flex-direction-nav li a.flex-next {
	background-image: url(../../images/arrow-right.png);
}

#featured-post-slider .flex-direction-nav li a:hover {
	opacity: 1;
}

#featured-post-slider .flex-direction-nav li.flex-nav-prev {
	left: 0;
}

#featured-post-slider .flex-direction-nav li.flex-nav-next {
	right: 0;
}

/* responsive:
/* featured slider
/* ------------------------------------------------------------------- */
@media only screen and (max-width:1024px) {
	.featured-post-slide .slide-title {
		font-size: 3.7rem;
	}

}

@media only screen and (max-width:768px) {
	.featured-post-slide {
		padding: 6rem 10% 3rem 10%;
	}

	.featured-post-slide .entry-meta {
		font-size: 1.5rem;
	}

	.featured-post-slide .slide-title {
		font-size: 3.2rem;
	}

}

@media only screen and (max-width:600px) {
	.featured-grid,
	.featured-post-slide {
		height: 558px;
	}

	.featured-post-slide .slide-title {
		font-size: 3rem;
	}

	#featured-post-slider .flex-direction-nav li {
		top: auto;
		margin-top: auto;
		bottom: 0;
	}

}

@media only screen and (max-width:400px) {
	.featured-grid,
	.featured-post-slide {
		height: 450px;
	}

	.featured-post-slide .slide-title {
		font-size: 2.7rem;
	}

}


/*  post formats - masonry view - (_common-styles.scss)
 * ------------------------------------------------------------------- */

/* format quote & format link
 * --------------------------------------- */
.format-quote,
.format-link {
	text-align: center;
}

.format-quote .entry-thumb,
.format-link .entry-thumb {
	display: table;
	background: #FFFFFF;
	padding: 1.8rem 2.8rem 3rem;
	min-height: 324px;
	width: 100%;
	position: relative;
}

.format-quote .entry-thumb::before,
.format-link .entry-thumb::before {
	content: "\e920";
	font-family: "icomoon";
	font-size: 3rem;
	color: #ccc;
	position: absolute;
	top: 3.3rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.format-quote blockquote::before {
	display: none;
}

.format-quote blockquote,
.format-link .link-wrap {
	display: table-cell;
	margin: 0;
	padding-left: 0;
	vertical-align: middle;
}

.format-quote blockquote p,
.format-link .link-wrap p {
	font-family: "montserrat-bold", sans-serif;
	padding: 6rem 0 0 0;
	font-size: 2.2rem;
	line-height: 1.636;
}

.format-quote cite,
.format-link cite {
	display: block;
	font-family: "muli-regular", sans-serif;
	font-size: 1.5rem;
	font-style: normal;
	line-height: 1.4;
	color: #999999;
}

.format-quote cite::before,
.format-link cite::before {
	display: none;
}

.format-quote cite a,
.format-quote cite a:visited {
	color: #999999;
	border: none;
}

.format-link .entry-thumb::before {
	content: "\e96b";
	font-size: 3.6rem;
	color: #CCCCCC;
}

.format-link .link-wrap cite:before {
	display: none;
}

.format-link .link-wrap cite a,
.format-link .link-wrap cite a:visited {
	color: #999999;
	display: inline-block;
	padding-bottom: .3rem;
}

.format-link .link-wrap cite a:hover,
.format-link .link-wrap cite a:focus {
	color: #000000;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* format video
 * --------------------------------------- */
.format-video .entry-thumb a {
	cursor: zoom-in;
	display: block;
	position: relative;
}

.format-video .entry-thumb a img {
	vertical-align: bottom;
}

.format-video .entry-thumb a::before {
	content: "\e998";
	position: absolute;
	top: 50%;
	left: 50%;
	font-family: "icomoon";
	font-size: 8rem;
	border-radius: 50%;
	color: white;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	cursor: zoom-in;
}

/* ===================================================================
 *  12. bricks masonry - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#bricks {
	padding-top: 4.2rem;
}

#bricks .masonry {
	max-width: 1440px;
}

#bricks .pagination {
	margin-top: 6rem;
}

#bricks.with-top-sep {
	position: relative;
}

#bricks.with-top-sep::before {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -100px;
	width: 200px;
	height: 1px;
	background-color: #D1D1D1;
}

.bricks-wrapper:before,
.bricks-wrapper:after {
	content: "";
	display: table;
}

.bricks-wrapper:after {
	clear: both;
}

.bricks-wrapper .grid-sizer,
.bricks-wrapper .brick {
	width: 25%;
}

.bricks-wrapper .brick {
	float: left;
	padding: 0 20px;
}

.bricks-wrapper .featured-grid {
	width: 50%;
}

.bricks-wrapper .featured-grid .entry-content {
	width: 100%;
	background: #151515;
}

/* responsive:
/* bricks masonry
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1280px) {
	.bricks-wrapper .grid-sizer,
	.bricks-wrapper .brick {
		width: 33.33333%;
	}

	.bricks-wrapper .featured-grid {
		width: 66.66667%;
	}
}
@media only screen and (max-width:1024px) {
	.bricks-wrapper .brick {
		padding: 0 18px;
	}

}
@media only screen and (max-width:960px) {
	.bricks-wrapper .grid-sizer,
	.bricks-wrapper .brick {
		width: 50%;
	}

	.bricks-wrapper .featured-grid {
		width: 100%;
	}
}
@media only screen and (max-width:768px) {
	.bricks-wrapper .brick {
		padding: 0 15px;
	}

}

@media only screen and (max-width:600px) {
	#bricks .row {
		max-width: 460px;
	}

	.bricks-wrapper .grid-sizer,
	.bricks-wrapper .brick {
		width: 100%;
		padding: 0 10px;
		clear: both;
	}
}
@media only screen and (max-width:400px) {
	.bricks-wrapper .brick {
		width: 100% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}

}